<div class="row mb-2">
  <div class="col-xs-12">
    <img class="w-25" [src]="activeRecipe.imagePath" alt="" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ activeRecipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage recipe
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            href="#"
            (click)="onAddIngredientsToShoppingList()"
            >Add ingredients to shopping list</a
          >
        </li>
        <li><a class="dropdown-item" href="#">Edit recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row py-2">
  <div class="col-xs-12">{{ activeRecipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      @for(ingredient of activeRecipe.ingredients; track ingredient.name){
      <a href="" class="list-group-item">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
      }
    </ul>
  </div>
</div>
